* {
  border: none;
    font-family: "SauceCodePro Nerd Font", Roboto, Arial;
    font-size: 13px;
    color: #ffffff;
    border-radius: 20px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}
/*-----module groups----*/
.modules-right {
	background-color: rgba(0,43,51,0.85);
    margin: 10px 10px 0 2px;
}
.modules-center {
	background-color: rgba(0,43,51,0.85);
    margin: 2px 0 0 0;
}
.modules-left {
    margin: 2px 0 0 5px;
	background-color: rgba(0,119,179,0.6);
}
/*-----modules indv----*/
#workspaces button {
    padding: 1px 5px;
    background-color: transparent;
}
#workspaces button:hover {
    box-shadow: inherit;
	background-color: rgba(0,153,153,1);
}

#workspaces button.focused {
	background-color: rgba(0,43,51,0.85);
}

#clock,
#battery,
#network,
#pulseaudio,
#wireplumber,
#custom-pacman,
#custom-power,
#mode,
#idle_inhibitor {
    padding: 0 10px;
}
#mode {
    color: #cc3436;
    font-weight: bold;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
    color: #2dcc36;
}
#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #cc3436;
}
