{
    "layer": "top",
    "modules-left": ["sway/workspaces", "sway/mode"],
    "modules-center": ["clock"],
    "modules-right": ["custom/pacman", "wireplumber", "battery", "network", "custom/power"],
    "sway/workspaces": {
        "all-outputs": false,
        "disable-scroll": true,
        "format": "{icon}",
        "format-icons": {
            "1": "", // Icon: terminal
            "2": "", // Icon: Chrome
            "3": "", // Icon: firefox-browser
            "default": "",
        }
    },
    "sway/window": {
        "max-length": 50
    },
    "battery": {
        "format": "{icon}",
        "format-icons": ["", "", "", "", ""]
    },
    "clock": {
        "format-alt": "{:%a, %d. %b  %I:%M}"
    },
    "network": {
        "format-wifi": "",
        "format-ethernet": " ",
        "format-disconnected": "󰱟",
        "max-length": 50,
    },
    "wireplumber": {
      "format": "",
      "format-muted": "",
    },
    "custom/pacman": {
        "format": "{}",
        "interval": 600,
        "exec": "/home/bob/bin/checkforupdates",
        "signal": 8
    },
    "custom/power":{
      "format":"",
      "on-click":"swaynag -t warning -m 'Power Menu Options' -b 'Logout' 'swaymsg exit' -b 'Reboot' 'swaymsg exec systemctl reboot' -b 'shutdown' 'systemctl shutdown'"
    }
}
